.aCZFAsAQ9s9 {
    background-color: rgb(255, 20, 81);
    color: #fff!important;
    display: inline-block;
    padding: 10px 30px;
    font-size: 25px;
    box-shadow: 2px 3px 3px #999;
    text-decoration: none!important;
    margin: 20px 0 30px;
    line-height: 27px;
    text-transform: uppercase;
}
.aTv6ZiTHKE2{
    color: #365899;
}

.ajGIs3ZGTZd {
    font-family: "Open Sans";
    background: rgb( 236, 28, 36 );
    border: 1px solid rgb( 236, 28, 36 );
    border-radius: 10px;
    width: 310px;
    height: 42px;
    text-align: center;
    line-height: 39px;
    font-size: 17px;
    color: #ffffff;
    font-weight: 900;
    text-transform: uppercase;
    margin: 20px auto 0 auto;
    box-sizing:  border-box;
    transition: .3s all;
}
.ajGIs3ZGTZd:hover{
    background: #ffffff;
    border: 1px solid rgb( 236, 28, 36 );
    box-shadow: 0px 7px 4px 0px #666;
    color:  rgb( 236, 28, 36 );
    transform: translate(0, -5px);
}

.aNZqGbT19Tn{
    text-align:center;
}
.ahfH4mfYzkE{
    display:block;
    margin:0 auto;
}
.akQNtfqVCm0{
    display:block;
    margin:0 auto;
}
.audy98KBFaU{
    display:none;
}



* { margin: 0px; padding: 0px; line-height: 1.2em; }
html { width: 100%; }
input:active, textarea:active, a:active { outline: medium none; }
:focus { outline: medium none; }
a img { border: 0px none; }
body { width: 100%; font-family: Arial,Helvetica,sans-serif; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
#a9MtqFaNA5K { max-width: 1260px; margin: 0px auto; padding: 5px 18px 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
#awfFySSoZq1 { margin-top: 30px; text-align: center; white-space: nowrap; float: left; width: 100%; }
#logo { float: left; margin-top: -10px; text-align: left; vertical-align: middle; }
#logo img { width: 280px; }
header nav ul li::before { content: "â\80 ˘"; font-size: 14pt; font-weight: bold; margin-right: 12px; vertical-align: middle; }
header nav ul li:nth-child(1)::before { display: none; color: white; }
#aPzx8GVLTpe { display: inline-block; margin-left: 0px; margin-top: 10px; vertical-align: baseline; text-decoration: none; color: rgb(102, 102, 102); font-size: 14pt; }
#aPzx8GVLTpe:active { border: medium none; }
#aNulINEoRtK { display: inline-block; width: 100%; min-height: 1800px; }
#aITtbnwzdyA h2::before, #aITtbnwzdyA h2::after, #agJrnT3Ey6L h2::before, #agJrnT3Ey6L h2::after { display: inline-block; content: " "; width: 55px; border-bottom: 1px solid rgb(77, 77, 77); margin-bottom: 3px; }
.aiiI9unuuZW::before, .aiiI9unuuZW::after { width: 85px !important; }
#aITtbnwzdyA h2::before, #agJrnT3Ey6L h2::before { margin-right: 18px; }
#aITtbnwzdyA h2::after, #agJrnT3Ey6L h2::after { margin-left: 18px; }
#az51q8EyZt7 h2::before, #az51q8EyZt7 h2::after { border: medium none; }
#aL8GrGbXlOZ a:nth-child(3) { margin-right: 0px; }
#a8E09wjRsNB p:nth-child(4) { margin-right: 0px; }
footer {/* height: 90px; */background: rgb(100, 156, 191) none repeat scroll 0% 0%;text-align: center;min-width: 1208px;}
footer div { display: inline-block; text-align: left; color: rgb(255, 255, 255); margin-top: 20px; }
footer #a38blTaDHX3 { font-size: 10pt; width: 590px; }
footer #a38blTaDHX3 img { float: left; margin: 3px 15px; vertical-align: middle; }
footer #aqbIY8yzpta { width: 230px; font-size: 10pt; margin-left: 90px; }
footer #abtppXgHyMl { font-size: 25pt; padding: 10px 5px; vertical-align: top; margin-left: 60px; font-family: Arial,Helvetica,sans-serif; }
#aITtbnwzdyA nav ul li a::first-letter { text-transform: uppercase; }
#aITtbnwzdyA h2::before, #aITtbnwzdyA h2::after { display: none; }
#a2iDvO7p5Cc h2::before, #a2iDvO7p5Cc h2::after { display: none; }
#text { margin-top: 40px; vertical-align: top; display: inline-block; width: 90%; margin-right: 0px; text-align: center; }
#align { text-align: left; display: inline-block; padding-left: 50px; }
#news span.a7uUDmK1Amr { display: inline-block; font-size: 11pt; color: rgb(128, 128, 128); }
#news.a2ObZ4og3RR .image img { margin: 20px 0px; width: 600px; height: auto; }
#news h1 { font-weight: normal; font-size: 26pt; margin: 20px 0px; }
#news h1.akhnX0NeuPl {  }
#news.a2ObZ4og3RR .image { text-align: center; }
#aAge37BYidZ, #akWifSFIyfP { display: inline-block; text-align: center; font-size: 20px; line-height: 20px; margin-bottom: 10px; }
#aAge37BYidZ { margin-bottom: 0px; color: rgb(109, 148, 86); }
#akWifSFIyfP { margin-top: 0px; color: rgb(102, 102, 102); }
#news span::first-letter { text-transform: uppercase; }
#news #autor { display: inline-block; text-transform: none; font-size: 16px; line-height: 20px; font-style: italic; margin-top: 20px; }
#news p { font-size: 16px; line-height: 20px; margin: 20px 0px; }
#af7uha9bCS6 p:nth-child(1) { color: rgb(0, 0, 0); font-size: 16px; line-height: 22px !important; }
.ajZCsJ8Aj5C::first-letter { text-transform: none !important; }
#text h3 a::first-letter { text-transform: uppercase; }
#before p:nth-child(1) { margin-left: 0px; }
#before p a::first-letter { text-transform: uppercase; }
#af7uha9bCS6 em { line-height: 20px !important; }
#af7uha9bCS6 strong { line-height: 20px !important; }
#news p a, #news blockquote a, #news li a { color: rgb(102, 153, 204); line-height: 20px !important; }
#news p a:visited, #news blockquote a:visited, #news li a:visited { color: rgb(128, 128, 128); }
#news p a:active, #news blockquote a:active, #news li a:active { color: rgb(102, 204, 255); }
#news ul, #news ol { padding-left: 40px; margin: 10px 0px; }
blockquote.aauOatxKynr {/* margin: 40px; */font-family: "PT Serif";font-weight: bold;text-align: center;font-size: 25px !important;line-height: 30px !important;}
.aXTxrpUa3h8 { color: red; }
#smartbanner .aX26EiIV8d9::after { content: ""; position: absolute; left: 0px; top: -1px; border-top: 1px solid rgba(255, 255, 255, 0.8); width: 100%; height: 50%; border-radius: 10px 10px 12px 12px; }
body { background: background: rgb(255, 255, 255) none repeat   scroll 0% 0%; }

.one { width: 95%; margin-left: 50px; }
.aBR7lON7RaR { display: block; margin: 20px auto; max-width: 300px; padding: 20px 5px; font-size: 20px; text-decoration: none; background-color: rgb(222, 6, 6); text-align: center; color: rgb(255, 255, 255) !important; border-radius: 4px; }
.aBR7lON7RaR:hover { opacity: 0.8; }
.aRefYFHjdA8 { position: relative; margin-bottom: 70px; }
.aRefYFHjdA8::after { content: ""; position: absolute; width: 80px; height: 73px; background-image: url(""); left: 0px; right: 0px; margin: 0px auto; bottom: -70px; }
.aRefYFHjdA8:hover::after { animation: 0.5s ease 0s normal none 1 running shake; transform-origin: center top 0px; }
.aBR7lON7RaR-bottom { max-width: 400px; }
#news h1.akhnX0NeuPl { font-size: 27px; text-align: center; line-height: 30px; margin-bottom: 30px; margin-top: 10px; font-weight: bold; }
@media screen and (max-width: 1270px) {
    header { display: none; }
    .one { padding-left: 50px; width: 105%; margin: 0px; }
    #a9MtqFaNA5K { min-width: 240px; max-width: 964px; }
    footer { min-width: 240px; }
    #text {width: auto;}
    #af7uha9bCS6 p { text-align: justify; }
    footer #a38blTaDHX3 { width: 500px; }
    .one { width: 93%; }
}
@media screen and (max-width: 1000px) {
    .one { padding-left: 0px; width: 100%; }
    #news span.a7uUDmK1Amr { margin-top: 25px; }
    #news p { line-height: 17px; margin: 10px 0px; }
    .comment { padding: 0px; width: 100%; }
    #text { padding-bottom: 20px; }
    body { background: #fff none repeat scroll 0% 0% !important; }
    #text, #aNulINEoRtK { width: 100%; }
    #align { width: 90%; padding: 0px 5%; }
    #news span, #news div, #news p { width: 100%; }
    #news.a2ObZ4og3RR .image { width: 100%; }
    #news h1 { width: 100%; }
    div { padding: 0px; }
    #a9MtqFaNA5K { overflow: hidden; padding: 0px 5px; width: 95%; margin: 0px auto; }
    #news.a2ObZ4og3RR .image img { margin-left: auto; margin-right: auto; display: block; }
    #text { margin: 0px; }
    #align { width: 100%; padding: 0px; }
    #news span.a7uUDmK1Amr { text-align: center !important; }
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 640px) {
    #news.a2ObZ4og3RR .image img { width: 100%; }
    #news h1.akhnX0NeuPl { font-size: 30px; }
}
@media screen and (max-width: 479px) {
    #news h1.akhnX0NeuPl { font-size: 25px; }
    #news span, #news div, #news p { font-size: 17px !important; }
}
@media screen and (max-width: 320px) {
    #news h1.akhnX0NeuPl { font-size: 24px; line-height: 28px; font-weight: bold; }
    body { background: rgb(255, 255, 255) none repeat scroll 0% 0% !important; }
    #a9MtqFaNA5K { padding: 0px; }
    #align { width: 98%; padding: 0px 1%; }
    .comment div { width: 93%; margin: 10px 1% !important; }
}
@media screen and (max-width: 240px) {
}
select {
    display:none;
    padding: 10px;
    width: 50%;
    margin: 0 auto;
    border:2px solid grey;
    border-radius:5px;
}
input {
    display: block;
    margin: 0 auto;
    padding: 10px;
    width: 47%;
    border:2px solid grey;
    border-radius:5px;
}
form {
    display: block;
    margin: 0 auto;
    text-align: center;
}
button {
    border:none;
    cursor:pointer;
}

@media all and (max-width: 480px) {
input {width:90%;}
}

.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    margin: 7.5px -15px;
}

.nav > li > a {
    padding: 10px 10px;
}
.aIbakTDvNF4:hover {
    background-color: white;
}
.aIbakTDvNF4:hover a {
    color: black;
}

.nav > li > a:focus, .nav > li > a:hover {
    text-decoration: none;
    background-color: #eee
}

.nav > li.disabled > a {
    color: #777
}

.nav > li.disabled > a:focus, .nav > li.disabled > a:hover {
    color: #777;
    text-decoration: none;
    cursor: not-allowed;
    background-color: transparent
}

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    background-color: #eee;
    border-color: #428bca
}

.nav .nav-divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5
}

.nav > li > a > img {
    max-width: none
}

.atClTrT0eQk {
    border-bottom: 1px solid #ddd
}

.atClTrT0eQk > li {
    float: left;
    margin-bottom: -1px
}

.atClTrT0eQk > li > a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0
}

.atClTrT0eQk > li > a:hover {
    border-color: #eee #eee #ddd
}

.atClTrT0eQk > li.active > a, .atClTrT0eQk > li.active > a:focus, .atClTrT0eQk > li.active > a:hover {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent
}

.atClTrT0eQk.aHtKLO3QS1G {
    width: 100%;
    border-bottom: 0
}

.atClTrT0eQk.aHtKLO3QS1G > li {
    float: none
}

.atClTrT0eQk.aHtKLO3QS1G > li > a {
    margin-bottom: 5px;
    text-align: center;
    margin-right: 0;
    border-radius: 4px
}

.atClTrT0eQk.aHtKLO3QS1G > .active > a, .atClTrT0eQk.aHtKLO3QS1G > .active > a:focus, .atClTrT0eQk.aHtKLO3QS1G > .active > a:hover {
    border: 1px solid #ddd
}

@media (min-width: 768px) {
    .atClTrT0eQk.aHtKLO3QS1G > li {
        display: table-cell;
        width: 1%
    }

    .atClTrT0eQk.aHtKLO3QS1G > li > a {
        margin-bottom: 0;
        border-bottom: 1px solid #ddd;
        border-radius: 4px 4px 0 0
    }

    .atClTrT0eQk.aHtKLO3QS1G > .active > a, .atClTrT0eQk.aHtKLO3QS1G > .active > a:focus, .atClTrT0eQk.aHtKLO3QS1G > .active > a:hover {
        border-bottom-color: #fff
    }
}

.a20hzflqZMW > li {
    float: left
}

.aHtKLO3QS1G > li, .aBc7dwczAjq > li {
    float: none
}

.a20hzflqZMW > li > a {
    border-radius: 4px
}

.a20hzflqZMW > li + li {
    margin-left: 2px
}

.a20hzflqZMW > li.active > a, .a20hzflqZMW > li.active > a:focus, .a20hzflqZMW > li.active > a:hover {
    color: #fff;
    background-color: #428bca
}

.aBc7dwczAjq > li + li {
    margin-top: 2px;
    margin-left: 0
}

.aHtKLO3QS1G {
    width: 100%
}

.aHtKLO3QS1G > li > a {
    margin-bottom: 5px;
    text-align: center
}

.atClTrT0eQk-justified {
    border-bottom: 0
}

.atClTrT0eQk-justified > li > a {
    margin-right: 0;
    border-radius: 4px
}

.atClTrT0eQk-justified > .active > a, .atClTrT0eQk-justified > .active > a:focus, .atClTrT0eQk-justified > .active > a:hover {
    border: 1px solid #ddd
}

@media (min-width: 768px) {
    .aHtKLO3QS1G > li {
        display: table-cell;
        width: 1%
    }

    .aHtKLO3QS1G > li > a {
        margin-bottom: 0
    }

    .atClTrT0eQk-justified > li > a {
        border-bottom: 1px solid #ddd;
        border-radius: 4px 4px 0 0
    }

    .atClTrT0eQk-justified > .active > a, .atClTrT0eQk-justified > .active > a:focus, .atClTrT0eQk-justified > .active > a:hover {
        border-bottom-color: #fff
    }
}

.aCCLlAAHKBO > .tab-pane {
    display: none
}

.aCCLlAAHKBO > .active {
    display: block
}

.atClTrT0eQk .aIbakTDvNF4-menu {
    margin-top: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0
}

.aOxbh4khC90 {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px;
    border: 1px solid transparent;
    padding-top: 10px;
    padding-bottom: 10px;
}

.aOxbh4khC90-collapse {
    padding-right: 15px;
    padding-left: 15px;
    overflow-x: visible;
    -webkit-overflow-scrolling: touch;
    border-top: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1)
}

.aOxbh4khC90-collapse.in {
    overflow-y: auto
}

@media (min-width: 768px) {
    .aOxbh4khC90 {
        border-radius: 4px
    }

    .aOxbh4khC90-header {
        float: left
    }

    .aOxbh4khC90-collapse {
        width: auto;
        border-top: 0;
        -webkit-box-shadow: none;
        box-shadow: none
    }

    .aOxbh4khC90-collapse.collapse {
        display: block !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important
    }

    .aOxbh4khC90-collapse.in {
        overflow-y: visible
    }

    .aOxbh4khC90-fixed-bottom .aOxbh4khC90-collapse, .aOxbh4khC90-fixed-top .aOxbh4khC90-collapse, .aOxbh4khC90-static-top .aOxbh4khC90-collapse {
        padding-right: 0;
        padding-left: 0
    }
}

.aT0azBT2wW4, .a37KrJN9HuH, .a37KrJN9HuH-open, .a9B8Lfw4prM {
    overflow: hidden
}

@media (max-width: 480px) and (orientation: landscape) {
    .aOxbh4khC90-fixed-bottom .aOxbh4khC90-collapse, .aOxbh4khC90-fixed-top .aOxbh4khC90-collapse {
        max-height: 200px
    }
}

.an8MsW7fSWu > .aOxbh4khC90-collapse, .an8MsW7fSWu > .aOxbh4khC90-header, .acu4MMm46ox > .aOxbh4khC90-collapse, .acu4MMm46ox > .aOxbh4khC90-header {
    margin-right: -15px;
    margin-left: -15px
}

.aOxbh4khC90-static-top {
    z-index: 1000;
    border-width: 0 0 1px
}

.aOxbh4khC90-fixed-bottom, .aOxbh4khC90-fixed-top {
    position: static;
    right: 0;
    left: 0;
    z-index: 1030;
    transform: translate3d(0, 0, 0)
}

.aOxbh4khC90-fixed-top {
    top: 0;
    border-width: 0 0 1px
}

.aOxbh4khC90-fixed-bottom {
    bottom: 0;
    margin-bottom: 0;
    border-width: 1px 0 0
}

.aOxbh4khC90-brand {
    float: left;
    height: 50px;
    padding: 15px;
    font-size: 18px;
    line-height: 20px
}

.aOxbh4khC90-brand:focus, .aOxbh4khC90-brand:hover {
    text-decoration: none
}

@media (min-width: 768px) {
    .an8MsW7fSWu > .aOxbh4khC90-collapse, .an8MsW7fSWu > .aOxbh4khC90-header, .acu4MMm46ox > .aOxbh4khC90-collapse, .acu4MMm46ox > .aOxbh4khC90-header {
        margin-right: 0;
        margin-left: 0
    }

    .aOxbh4khC90-fixed-bottom, .aOxbh4khC90-fixed-top, .aOxbh4khC90-static-top {
        border-radius: 0
    }

    .aOxbh4khC90 > .acu4MMm46ox .aOxbh4khC90-brand, .aOxbh4khC90 > .an8MsW7fSWu .aOxbh4khC90-brand {
        margin-left: -15px
    }
}

.aOxbh4khC90-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 4px
}

.aOxbh4khC90-toggle:focus {
    outline: 0
}

.aOxbh4khC90-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px
}

.aOxbh4khC90-toggle .icon-bar + .icon-bar {
    margin-top: 4px
}

.aOxbh4khC90-nav {
    margin: 7.5px -15px
}

.aOxbh4khC90-nav > li > a {
    padding-top: 3px;
    padding-bottom: 20px;
    line-height: 20px
    color: #ffb1b1;
}

@media (max-width: 767px) {
    .aOxbh4khC90-nav .open .aIbakTDvNF4-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none
    }

    .aOxbh4khC90-nav .open .aIbakTDvNF4-menu .aIbakTDvNF4-header, .aOxbh4khC90-nav .open .aIbakTDvNF4-menu > li > a {
        padding: 5px 15px 5px 25px
    }

    .aOxbh4khC90-nav .open .aIbakTDvNF4-menu > li > a {
        line-height: 20px
    }

    .aOxbh4khC90-nav .open .aIbakTDvNF4-menu > li > a:focus, .aOxbh4khC90-nav .open .aIbakTDvNF4-menu > li > a:hover {
        background-image: none
    }
}

.a9B8Lfw4prM-bar-striped, .a9B8Lfw4prM-striped .a9B8Lfw4prM-bar, .a9B8Lfw4prM-striped .a9B8Lfw4prM-bar-success {
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent)
}

@media (min-width: 768px) {
/*
    .aOxbh4khC90-toggle {
        display: none
    }

    .aOxbh4khC90-nav {
        float: left;
        margin: 0
    }

    .aOxbh4khC90-nav > li {
        float: left
    }
*/

/*
    .aOxbh4khC90-nav > li > a {
        padding-top: 15px;
        padding-bottom: 15px
    }
*/

    .aOxbh4khC90-nav.aOxbh4khC90-right:last-child {
        margin-top: 15px
    }

    .aOxbh4khC90-left {
        float: left !important
    }

    .aOxbh4khC90-right {
        float: right !important
    }
}

.aOxbh4khC90-form {
    padding: 10px 15px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
    margin: 8px -15px
}

@media (min-width: 768px) {
    .aOxbh4khC90-form .control-label, .aOxbh4khC90-form .form-group {
        margin-bottom: 0;
        vertical-align: middle
    }

    .aOxbh4khC90-form .form-group {
        display: inline-block
    }

    .aOxbh4khC90-form .form-control {
        display: inline-block;
        width: auto;
        vertical-align: middle
    }

    .aOxbh4khC90-form .input-group {
        display: inline-table;
        vertical-align: middle
    }

    .aOxbh4khC90-form .input-group .form-control, .aOxbh4khC90-form .input-group .input-group-addon, .aOxbh4khC90-form .input-group .input-group-agcCv8raVPX {
        width: auto
    }

    .aOxbh4khC90-form .input-group > .form-control {
        width: 100%
    }

    .aOxbh4khC90-form .checkbox, .aOxbh4khC90-form .radio {
        display: inline-block;
        margin-top: 0;
        margin-bottom: 0;
        vertical-align: middle
    }

    .aOxbh4khC90-form .checkbox label, .aOxbh4khC90-form .radio label {
        padding-left: 0
    }

    .aOxbh4khC90-form .checkbox input[type="checkbox"], .aOxbh4khC90-form .radio input[type="radio"] {
        position: relative;
        margin-left: 0
    }

    .aOxbh4khC90-form .has-feedback .form-control-feedback {
        top: 0
    }

    .aOxbh4khC90-form {
        width: auto;
        padding-top: 0;
        padding-bottom: 0;
        margin-right: 0;
        margin-left: 0;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none
    }

    .aOxbh4khC90-form.aOxbh4khC90-right:last-child {
        margin-right: -15px
    }
}

.aENqPX71HYy > li, .a9GxiHoN3Xz {
    display: inline-block
}

.agcCv8raVPX .badge, .agcCv8raVPX .label {
    top: -1px;
    position: relative
}

@media (max-width: 767px) {
    .aOxbh4khC90-form .form-group {
        margin-bottom: 5px
    }
}

.aOxbh4khC90-nav > li > .aIbakTDvNF4-menu {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0
}

.aOxbh4khC90-fixed-bottom .aOxbh4khC90-nav > li > .aIbakTDvNF4-menu {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0
}

.aOxbh4khC90-agcCv8raVPX {
    margin-top: 8px;
    margin-bottom: 8px
}

.aOxbh4khC90-agcCv8raVPX.agcCv8raVPX-sm {
    margin-top: 10px;
    margin-bottom: 10px
}

.aOxbh4khC90-agcCv8raVPX.agcCv8raVPX-xs {
    margin-top: 14px;
    margin-bottom: 14px
}

.aOxbh4khC90-text {
    margin-top: 15px;
    margin-bottom: 15px
}

@media (min-width: 768px) {
    .aOxbh4khC90-text {
        float: left;
        margin-right: 15px;
        margin-left: 15px
    }

    .aOxbh4khC90-text.aOxbh4khC90-right:last-child {
        margin-right: 0
    }
}

.aOxbh4khC90-default {
    background-image: url("axNEWGOudqi.png");
    border-color: #e7e7e7;
    background-position: 0 -81px;
    background-repeat: no-repeat;
background-size: cover;
}

.aOxbh4khC90-default .aOxbh4khC90-brand {
    color: #777
}

.aOxbh4khC90-default .aOxbh4khC90-brand:focus, .aOxbh4khC90-default .aOxbh4khC90-brand:hover {
    color: #5e5e5e;
    background-color: transparent
}

.aOxbh4khC90-default .aOxbh4khC90-nav > li > span, .aOxbh4khC90-default .aOxbh4khC90-text {
    color: #2f7771;
    background-color:#fff;
}

.aOxbh4khC90-default .aOxbh4khC90-nav > li > a:focus, .aOxbh4khC90-default .aOxbh4khC90-nav > li > a:hover {
    color: #333;
    background-color: transparent
}

.aOxbh4khC90-default .aOxbh4khC90-nav > .active > a:focus, .aOxbh4khC90-default .aOxbh4khC90-nav > .active > a:hover, .aOxbh4khC90-default .aOxbh4khC90-nav > .active > span {
    color: #555;
    background-color: #e7e7e7
}

.aOxbh4khC90-default .aOxbh4khC90-nav > .disabled > a:focus, .aOxbh4khC90-default .aOxbh4khC90-nav > .disabled > a:hover, .aOxbh4khC90-default .aOxbh4khC90-nav > .disabled > span {
    color: #ccc;
    background-color: transparent
}

.aOxbh4khC90-default .aOxbh4khC90-toggle {
    border-color: #ddd
}

.aOxbh4khC90-default .aOxbh4khC90-toggle:focus, .aOxbh4khC90-default .aOxbh4khC90-toggle:hover {
    background-color: #ddd
}

.aOxbh4khC90-default .aOxbh4khC90-toggle .icon-bar {
    background-color: #888
}

.aOxbh4khC90-default .aOxbh4khC90-collapse, .aOxbh4khC90-default .aOxbh4khC90-form {
    border-color: #e7e7e7
}

.aOxbh4khC90-default .aOxbh4khC90-nav > .open > a, .aOxbh4khC90-default .aOxbh4khC90-nav > .open > a:focus, .aOxbh4khC90-default .aOxbh4khC90-nav > .open > a:hover {
    color: #555;
    background-color: #e7e7e7
}

@media (max-width: 767px) {
    .aOxbh4khC90-default .aOxbh4khC90-nav .open .aIbakTDvNF4-menu > li > a {
        color: #777
    }

    .aOxbh4khC90-default .aOxbh4khC90-nav .open .aIbakTDvNF4-menu > li > a:focus, .aOxbh4khC90-default .aOxbh4khC90-nav .open .aIbakTDvNF4-menu > li > a:hover {
        color: #333;
        background-color: transparent
    }

    .aOxbh4khC90-default .aOxbh4khC90-nav .open .aIbakTDvNF4-menu > .active > a, .aOxbh4khC90-default .aOxbh4khC90-nav .open .aIbakTDvNF4-menu > .active > a:focus, .aOxbh4khC90-default .aOxbh4khC90-nav .open .aIbakTDvNF4-menu > .active > a:hover {
        color: #555;
        background-color: #e7e7e7
    }

    .aOxbh4khC90-default .aOxbh4khC90-nav .open .aIbakTDvNF4-menu > .disabled > a, .aOxbh4khC90-default .aOxbh4khC90-nav .open .aIbakTDvNF4-menu > .disabled > a:focus, .aOxbh4khC90-default .aOxbh4khC90-nav .open .aIbakTDvNF4-menu > .disabled > a:hover {
        color: #ccc;
        background-color: transparent
    }
}

.aOxbh4khC90-default .aOxbh4khC90-link {
    color: #777
}

.aOxbh4khC90-default .aOxbh4khC90-link:hover {
    color: #333
}

.aOxbh4khC90-default .agcCv8raVPX-link {
    color: #777
}

.aOxbh4khC90-default .agcCv8raVPX-link:focus, .aOxbh4khC90-default .agcCv8raVPX-link:hover {
    color: #333
}

.aOxbh4khC90-default .agcCv8raVPX-link[disabled]:focus, .aOxbh4khC90-default .agcCv8raVPX-link[disabled]:hover, fieldset[disabled] .aOxbh4khC90-default .agcCv8raVPX-link:focus, fieldset[disabled] .aOxbh4khC90-default .agcCv8raVPX-link:hover {
    color: #ccc
}

.aOxbh4khC90-inverse {
    background-color: #222;
    border-color: #080808
}

.aOxbh4khC90-inverse .aOxbh4khC90-brand {
    color: #777
}

.aOxbh4khC90-inverse .aOxbh4khC90-brand:focus, .aOxbh4khC90-inverse .aOxbh4khC90-brand:hover {
    color: #fff;
    background-color: transparent
}

.aOxbh4khC90-inverse .aOxbh4khC90-nav > li > a, .aOxbh4khC90-inverse .aOxbh4khC90-text {
    color: #777
}

.aOxbh4khC90-inverse .aOxbh4khC90-nav > li > a:focus, .aOxbh4khC90-inverse .aOxbh4khC90-nav > li > a:hover {
    color: #fff;
    background-color: transparent
}

.aOxbh4khC90-inverse .aOxbh4khC90-nav > .active > a, .aOxbh4khC90-inverse .aOxbh4khC90-nav > .active > a:focus, .aOxbh4khC90-inverse .aOxbh4khC90-nav > .active > a:hover {
    color: #fff;
    background-color: #080808
}

.aOxbh4khC90-inverse .aOxbh4khC90-nav > .disabled > a, .aOxbh4khC90-inverse .aOxbh4khC90-nav > .disabled > a:focus, .aOxbh4khC90-inverse .aOxbh4khC90-nav > .disabled > a:hover {
    color: #444;
    background-color: transparent
}

.aOxbh4khC90-inverse .aOxbh4khC90-toggle {
    border-color: #333
}

.aOxbh4khC90-inverse .aOxbh4khC90-toggle:focus, .aOxbh4khC90-inverse .aOxbh4khC90-toggle:hover {
    background-color: #333
}

.aOxbh4khC90-inverse .aOxbh4khC90-toggle .icon-bar {
    background-color: #fff
}

.aOxbh4khC90-inverse .aOxbh4khC90-collapse, .aOxbh4khC90-inverse .aOxbh4khC90-form {
    border-color: #101010
}

.aOxbh4khC90-inverse .aOxbh4khC90-nav > .open > a, .aOxbh4khC90-inverse .aOxbh4khC90-nav > .open > a:focus, .aOxbh4khC90-inverse .aOxbh4khC90-nav > .open > a:hover {
    color: #fff;
    background-color: #080808
}

@media (max-width: 767px) {
    .aOxbh4khC90-inverse .aOxbh4khC90-nav .open .aIbakTDvNF4-menu > .aIbakTDvNF4-header {
        border-color: #080808
    }

    .aOxbh4khC90-inverse .aOxbh4khC90-nav .open .aIbakTDvNF4-menu .divider {
        background-color: #080808
    }

    .aOxbh4khC90-inverse .aOxbh4khC90-nav .open .aIbakTDvNF4-menu > li > a {
        color: #777
    }

    .aOxbh4khC90-inverse .aOxbh4khC90-nav .open .aIbakTDvNF4-menu > li > a:focus, .aOxbh4khC90-inverse .aOxbh4khC90-nav .open .aIbakTDvNF4-menu > li > a:hover {
        color: #fff;
        background-color: transparent
    }

    .aOxbh4khC90-inverse .aOxbh4khC90-nav .open .aIbakTDvNF4-menu > .active > a, .aOxbh4khC90-inverse .aOxbh4khC90-nav .open .aIbakTDvNF4-menu > .active > a:focus, .aOxbh4khC90-inverse .aOxbh4khC90-nav .open .aIbakTDvNF4-menu > .active > a:hover {
        color: #fff;
        background-color: #080808
    }

    .aOxbh4khC90-inverse .aOxbh4khC90-nav .open .aIbakTDvNF4-menu > .disabled > a, .aOxbh4khC90-inverse .aOxbh4khC90-nav .open .aIbakTDvNF4-menu > .disabled > a:focus, .aOxbh4khC90-inverse .aOxbh4khC90-nav .open .aIbakTDvNF4-menu > .disabled > a:hover {
        color: #444;
        background-color: transparent
    }
}

.aOxbh4khC90-inverse .aOxbh4khC90-link {
    color: #777
}

.aOxbh4khC90-inverse .aOxbh4khC90-link:hover {
    color: #fff
}

.aOxbh4khC90-inverse .agcCv8raVPX-link {
    color: #777
}

.aOxbh4khC90-inverse .agcCv8raVPX-link:focus, .aOxbh4khC90-inverse .agcCv8raVPX-link:hover {
    color: #fff
}

.aOxbh4khC90-inverse .agcCv8raVPX-link[disabled]:focus, .aOxbh4khC90-inverse .agcCv8raVPX-link[disabled]:hover, fieldset[disabled] .aOxbh4khC90-inverse .agcCv8raVPX-link:focus, fieldset[disabled] .aOxbh4khC90-inverse .agcCv8raVPX-link:hover {
    color: #444
}
.aOxbh4khC90-default .aOxbh4khC90-nav > li > span, .aOxbh4khC90-default .aOxbh4khC90-text {
    color: #2f7771;
    background-color: #fff;
}
.aOxbh4khC90-default .aOxbh4khC90-nav > li > span {
    text-transform: uppercase;
    background-color: #fff;
    padding: 14px 15px;
    font-size: 13px;
    height: 35px;
    margin-top: 10px;
    margin-left: 5px;
    font-weight: 600;
    -webkit-transition: color .1s linear;
    -moz-transition: color .1s linear;
    -ms-transition: color .1s linear;
    -o-transition: color .1s linear;
    transition: color .1s linear;
}
.acu4MMm46ox {
    max-width: 970px;
    margin: 0 auto;
}
.aghJZZCu4xD {
    margin-top: 0;
    min-height: 45px;
    padding: 3px 0;
    background-color: #0f2827 !important;
    /* fill: #1abc9c !important; */
}
.aghJZZCu4xD h3, .aghJZZCu4xD h4 {
    color: #fff;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
}
@media screen and (max-width: 1050px) {
.aOxbh4khC90-nav.aOxbh4khC90-right:last-child {
    display: none !important;
}}
.aOxbh4khC90-header {
  padding-left: 10px;
}
.aOxbh4khC90-collapse {
  border: none;
}


/*SPIN STYLES*/


.a8gaDJXDJdO {
    -webkit-box-shadow: 0 0 10px;
    box-shadow: 0 0 10px;
    border: 3px solid red;
    padding: 20px 10px;
    border-radius: 10px;
    text-align: center;
    box-sizing: border-box;
}
#align .a8gaDJXDJdO p {
    text-align: center;
    font-size: 21px!important;
    line-height: 1.4!important;
    margin-bottom: 15px;
}
.aw4iPU3aCyq {
    text-align: center;
}
.avGQXu5RpSN {
    width: 380px!important;
    margin: 0 auto;
    position: relative;
}
.avGQXu5RpSN-cursor {
    position: absolute;
    width: 35%!important;
    height: 35%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.agM7fQH9FwN {
    position: absolute;
    z-index: 2;
    display: inline-block;
    width: 45%!important;
    height: 45%;
    line-height: 61px;
    cursor: pointer;
    border-radius: 50%;
    vertical-align: middle;
    text-align: center;
    background-color: #ccc;
    border: 1px solid #ccc;
    top: 49%;
    left: 50%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-box-shadow: rgba(255, 255, 255, 1) 0px -2px 0px inset, rgba(255, 255, 255, 1) 0px 2px 0px inset, rgba(0, 0, 0, 0.4) 0px 0px 5px;
    box-shadow: rgba(255, 255, 255, 1) 0px -2px 0px inset, rgba(255, 255, 255, 1) 0px 2px 0px inset, rgba(0, 0, 0, 0.4) 0px 0px 5px;
    background: rgb(255, 255, 255);
    /* Old browsers */
    /* FF3.6+ */

    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(234, 234, 234, 1)));
    /* Chrome,Safari4+ */

    background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(234, 234, 234, 1) 100%);
    /* Chrome10+,Safari5.1+ */

    background: -o-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(234, 234, 234, 1) 100%);
    /* Opera 12+ */
    /* IE10+ */

    background: -webkit-radial-gradient(center, ellipse, rgba(255, 255, 255, 1) 0%, rgba(234, 234, 234, 1) 100%);
    background: -o-radial-gradient(center, ellipse, rgba(255, 255, 255, 1) 0%, rgba(234, 234, 234, 1) 100%);
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 1) 0%, rgba(234, 234, 234, 1) 100%);
    /* W3C */

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */

    ;
}
.avGQXu5RpSN-img {
    -webkit-transition: 4s;
    -o-transition: 4s;
    transition: 4s;
}
.aR2pfv11btV {
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url("");
    background-size: 100%;
    top: -40px;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 10px #fff;
    box-shadow: 0 0 10px #fff;
    right: -40px;
    cursor: pointer;
}
.agM7fQH9FwN:active {
    -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 5px inset;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 5px inset;
}
.aCziJkiYMgP {
    display: none;
    padding: 0 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    top: 0;
    z-index: 999;
    left: 0;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, .6);
    text-align: center;
}
.aYFh2xmvdEN {
    position: fixed!important;
    top: 0px !important;
    width: 100% !important;
    height: 100% !important;
    background-color: rgba(0, 0, 0, 0.7) !important;
    z-index: 99 !important;
}
.aYFh2xmvdEN-show {
    display: block;
}
.a3nkOTRRRkP {
    position: relative;
    max-width: 400px;
    right: 0px;
    left: 0px;
    top: 40%;
    margin: 0px auto;
    background: #ffffff none repeat scroll 0% 0%;
    text-align: center;
    padding: 10px;
    padding-top: 70px;
    padding-bottom: 20px;
    border-radius: 10px;
    animation: 0.7s ease 0s normal none 1 running pop-up-appear;
}
.a3nkOTRRRkP::before {
    content: "";
    position: absolute;
    width: 110px;
    height: 110px;
    top: -55px;
    left: 0px;
    right: 0px;
    margin: 0px auto;
    background-color: rgb(113, 195, 65);
    border-radius: 50%;
    animation: 0.5s ease 0.6s normal backwards 1 running pop-up-appear-before;
}
.a3nkOTRRRkP::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 20px;
    top: -20px;
    left: 0px;
    right: 0px;
    margin: 0px auto;
    border-width: medium medium 4px 4px;
    border-style: none none solid solid;
    border-color: currentcolor currentcolor rgb(255, 255, 255) rgb(255, 255, 255);
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    transform: rotate(-45deg);
    transition: opacity 1s ease 0s;
    animation: 0.5s ease 0.6s normal backwards 1 running pop-up-appear-after;
}
@keyframes pop-up-appear {
    0% {
        transform: translateY(-2000px);
    }
    30% {
        transform: translateY(100px);
    }
    100% {
        transform: translateY(0px);
    }
}
@keyframes pop-up-appear-before {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes pop-up-appear-after {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.ahZKVkpfBRt {
    font-size: 40px;
    margin-bottom: 20px;
}
.a21nzesB6ZU {
    margin-bottom: 25px;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
}
.arAU0T0NQn5 {
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 20%;
    font-size: 20px;
    border-radius: 5px;
    background-color: rgb(113, 195, 65);
    color: rgb(255, 255, 255);
    border: medium none;
    cursor: pointer;
    outline: medium none;
}

.arAU0T0NQn5:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.avGQXu5RpSN img {
    max-width: 100%;
}
@media all and (max-width: 520px) {
    .avGQXu5RpSN {
        width: 280px!important;
    }
    .agM7fQH9FwN {
        line-height: 48px;
        font-size: 14px;
    }
    .aR2pfv11btV {
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url("");
    background-size: 100%;
    top: -40px;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 10px #fff;
    box-shadow: 0 0 10px #fff;
    right: -10px;
    cursor: pointer;
}
}
.aIbakTDvNF4 {
    display: inline-block;
    float: right;
    margin: -10px 0 20px 0px;
    background-color: #b5142b4f;
    padding: 7px 0px 2px 0px;
    height: 39px;
    box-sizing: border-box;

}
.aIbakTDvNF4:last-child {
    border-radius: 5px 0 0 5px;
}
.aIbakTDvNF4:first-child {
    border-radius: 0 5px 5px 0;
}
.aIbakTDvNF4 a {
    font-size: 14px;
    text-decoration: none;
    position: relative;
    font-weight: 400;
    color: white;
    cursor: pointer;
    height: 19px;
    display: block;
    box-sizing: border-box;
    padding-bottom: 30px;
    text-align: center;
    padding-right: 10px;
}
.aIbakTDvNF4:not(:first-child) a:after {
    position: absolute;
    content: '';
    background-color: #fff;
    height: 100%;
    width: 1px;
    right: 0px;
    top: 2px;
}

.comments { padding-top: 10px; text-align: left;}
.ahiu8Hzf5Zm {max-width: 98%;/* max-width: 91%; */ox-sizing: border-box;margin: 10px0 10px;padding-bottom: 10px;}
.aKhKQxnqsXg { display: inline-block; vertical-align: top; margin-right: 10px; border: 1px solid rgb(204, 204, 204); font-size: 0px; }
.a756OgaASww {display: inline-block;max-width: 87%;vertical-align: top;font-size: 16px;}
.aUROXJ84WXT { color: rgb(54, 88, 153); font-weight: bold; margin-right: 10px; cursor: pointer; }
.aQYkKNI1jAr { padding-left: 66px; }
.like, .aMAKKTcUu8l, .aPPR6G8ehWw { color: rgb(54, 88, 153); font-size: 13px; cursor: pointer; margin-right: 10px; position: relative; -moz-user-select: none; }
.like::after, .aMAKKTcUu8l::after { content: " · "; position: absolute; font-weight: bold; right: -10px; top: 0px; color: rgb(144, 148, 156); }
.aPPR6G8ehWw { padding-left: 20px; position: relative; }
.aPPR6G8ehWw::before { content: ""; position: absolute; width: 13px; height: 15px; left: 0px; background-image: url("urn:scrapbook:download:error:http://inp.hwip.ru/3/img/like.png"); -webkit-background-size: contain;
background-size: contain;}
.aPPR6G8ehWw-liked { animation: 0.5s ease 0s normal none 1 running like-change; }
.aPPR6G8ehWw-unliked { animation: 0.5s ease 0s normal none 1 running like-unchange; }
@keyframes like-change {
50% { top: -10px; opacity: 0; }
51% { bottom: -10px; }
100% { bottom: 0px; opacity: 1; }
}
@keyframes like-unchange {
50% { bottom: -10px; opacity: 0; }
100% { top: 0px; opacity: 1; }
}
.comment-a7uUDmK1Amr { font-size: 13px; color: rgb(144, 148, 156); position: relative; }
.comment-a7uUDmK1Amr::before { content: " · "; position: absolute; font-weight: bold; left: -10px; top: 0px; color: rgb(144, 148, 156); }
.aTpZZbzWTnw { width: 90%; margin: 0px auto 20px; }
.aTpZZbzWTnw-area { display: inline-block; vertical-align: top; width: 80%; font-size: 0px; perspective: 800px; }
.aTpZZbzWTnw input[type="text"] { width: 100%; box-sizing: border-box; padding-left: 10px; padding-top: 10px; padding-bottom: 10px; transition: all 0.4s ease 0s;    border: 1px solid #d3d6db!important;font-size: 16px;}
.textarea {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  border: 1px solid #d3d6db;
  padding: 15px 11px;
  height: 53px;
  font-size: 16px;
  resize: none;
  font-family: "Arial", sans-serif;
  transition: 0.5s;
}
.aTpZZbzWTnw input[type="text"]::-webkit-input-placeholder,
.textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #a9a9a9;
  font-size: 16px;
}
.aTpZZbzWTnw input[type="text"]::-moz-placeholder,
.textarea::-moz-placeholder { /* Firefox 19+ */
  color: #a9a9a9;
    font-size: 16px;
}
.aTpZZbzWTnw input[type="text"]::-ms-input-placeholder,
.textarea:-ms-input-placeholder { /* IE 10+ */
  color: #a9a9a9;
    font-size: 16px;
}
.aTpZZbzWTnw input[type="text"]::-moz-placeholder,
.textarea:-moz-placeholder { /* Firefox 18- */
  color: #a9a9a9;
    font-size: 16px;
}
.aIh2qNmO4Ye { height: 80px; }
.aLD0tX3FCc3 {
  display: none;
  transition: 0.4s;
  background-color: #f6f7f9;
  border: 1px solid #ccc;
  border-top: none;
  padding: 10px 10px;
  transform-origin: top;
  padding: 10px 10px;
}
.aLD0tX3FCc3-focus { display: block; animation: 0.6s ease 0s normal none 1 running action-appear; }
@keyframes action-appear {
0% { opacity: 0; transform: rotateX(-90deg); }
60% { transform: rotateX(30deg); }
100% { opacity: 1; transform: rotateX(0deg); }
}
.send-agcCv8raVPX { float: right; padding: 5px 10px; background-color: rgb(66, 103, 178); border: medium none; border-radius: 2px; color: rgb(255, 255, 255); font-weight: bold; cursor: pointer; }
.send-agcCv8raVPX:hover { background-color: rgb(54, 88, 153); }

.as3edUKm403::after { content: ""; display: table; clear: both; }

.aD8F7k9PTH0 {
border-bottom: 1px solid #e9ebee;
font-size: 14px;
display: -webkit-flex;
display: -moz-flex;
display: -ms-flex;
display: -o-flex;
display: flex;
    align-items: baseline;
justify-content: space-between;
padding: 8px 0;
    margin-bottom: 24px;
}
.aeRDpXabEQk {
  font-weight: bold;
}
.aD8F7k9PTH0 select {
    width: auto;
  padding: 4px;
  display: inline-block;
  background-color: #f6f7f9;
  font-weight: bold;
  border-radius: 2px;
  border-color: #ced0d4;

}
.aUbQ8vC01W0 {
    border-left: 1px dotted #d3d6db;
    padding-left: 20px;
    max-width: 80%;
    margin-bottom: 0;
    position: relative;
}
/*
.aUbQ8vC01W0:before {
    content: '';
    position: absolute;
    top: 10px;
    left: -20px;
    width: 11px;
    height: 8px;
    background-image: url(../img/replied.png);
}*/


/* POPUPS */
.adXtt1onAVq {
  font-family: 'Raleway-Regular', sans-serif;
  position: relative;
  z-index: 100000000; }

.aljwOtaWmCH > div:after,
.aljwOtaWmCH > div:before {
  position: absolute;
  right: 7px;
  top: 15px;
  width: 20px;
  height: 1px;
 /* background: #989898;*/
  background: #fff;
  content: ""; }

.aljwOtaWmCH p {
  margin: 0 !important; }

.aljwOtaWmCH > div:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

.aljwOtaWmCH > div:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.adXtt1onAVq {
  padding-top: 10px;
  padding-bottom: 10px;
  min-height: 60px;
  width: 248px;
  line-height: normal;
  color: #fff;
  margin-bottom: 5px;
  font-size: 16px; }

.adXtt1onAVq #js-user-id {
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-weight: 700; }

.aljwOtaWmCH__left {
  font-size: 14px; }

.aljwOtaWmCH__left span {
  font-size: 15px; }

.aljwOtaWmCH_call {
  background-color: #363636; }

.auAM900QnRa,
.auAM900QnRa span {
  font-size: 15px !important; }

#ouibounce-a37KrJN9HuH {
  background-color: rgba(0, 0, 0, 0.9); }

.aljwOtaWmCH_online {
  background-color: #CD5555;
  background-color: rgba(0, 0, 0, 0.9); }
.aljwOtaWmCH__emph {
    color: #ffc107;
    font-weight: bold;
}
.aljwOtaWmCH__item,
.aljwOtaWmCH__item-first {
  cursor: pointer;
  position: fixed;
  right: 20px;
  top: 120px;
  width: 300px;
/*  background-color: #111;*/
  background-color: rgba(41, 125, 45, 0.76);
 /* border: 2px solid #ccc;*/
  border-radius: 5px;
  color: #cbcbcb;
  padding: 15px;
  padding-bottom: 15px;
  font-size: 14px;
  border-radius: 0px;
  display: none;
  z-index: 999; }

.aKeLCeiusgr {
  display: none !important;
  opacity: 0 !important; }

.alZpdAVeNaw {
  display: block !important;
  opacity: 1 !important; }

.aSUtUhoJUWq {
  display: none !important;
  opacity: 0 !important;
  visibility: hidden !important; }

.ahfH4mfYzkEuct-number {
  white-space: nowrap; }

@media screen and (max-width: 767px) {
    .a756OgaASww{
       max-width:98%;
    }
  .adXtt1onAVq #js-user-id {
    font-size: 18px;
    color: #fff; }

  .adXtt1onAVq {
    width: 230px; }

  .aljwOtaWmCH__item,
  .aljwOtaWmCH__item-first {
    top: auto;
    right: 10px;
    bottom: 10px;
    width: 300px; } }
@media screen and (max-width: 319px) {
  .aljwOtaWmCH__item,
  .aljwOtaWmCH__item-first {
    width: 225px; }

  .adXtt1onAVq {
    width: 170px;
    font-size: 11px; }

  .adXtt1onAVq span {
    font-size: 17px; }

  .aljwOtaWmCH__icon {
    width: 38px !important; }

  .adXtt1onAVq br {
    display: none; } }
.adXtt1onAVq.icon-box.horizon {
  padding-left: 65px;
  padding-bottom: 0 !important; }
  .adXtt1onAVq.icon-box.horizon::before {
    width: 43px;
    height: 43px;
    top: 10px;
    left: 10px;
    background-size: 43px 43px;
    position: absolute;
    background-repeat: no-repeat; }
.adXtt1onAVq.icon-box::before {
  content: " ";
  background-image: url(""); }

.anoNlS0Ibop + .adXtt1onAVq.icon-box::before {
  background-image: url(""); }

.aeos4F1S9q9 + .adXtt1onAVq.icon-box::before {
  background-image: url(""); }

@media (max-width: 767px) {
  .adXtt1onAVq.icon-box.horizon {
    padding-left: 50px;
    padding-bottom: 15px;
    padding-top: 2px;
    font-size: 0.9rem; }
    .adXtt1onAVq.icon-box.horizon span {
      font-size: 0.95em; }
    .adXtt1onAVq.icon-box.horizon::before {
      top: 0px;
      left: 10px;
      width: 30px;
      height: 30px;
      background-size: 30px 30px; } }
                 .aTpZZbzWTnw input[type="text"] {
    width: 150px;
    box-sizing: border-box;
    padding-left: 10px;
    border-radius: 0;
    border: 1px solid rgb(169, 169, 169);
    padding-top: 5px;
    margin: 0;
    margin-bottom: 10px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    transition: 0.4s;
    word-wrap: wrap;
}

.acydbvyX9Ay {
    background-color: #d7f2d8;
    padding: 1px 0;
    margin:  20px 0;
    /* min-height: 130px; */
    /*border: 3px solid red;*/
    border-radius: 5px;
}
.acydbvyX9Ay .aMuTeiVftxt-title {
    font-size: 20px;
    padding-left: 20px;
    padding-top: 10px;
}

.acydbvyX9Ay .ahiu8Hzf5Zm {
    display: none;
    border-bottom: none;
}
.acydbvyX9Ay .comments-newly-showed {
    display: block;
    animation: new-comment-show .5s;
}
.aMuTeiVftxt {
    display: none;
    text-align: center;
}
.aMuTeiVftxt img {
    max-width: 100px;
}
.aTVqoXQRESQ {
    display: block;
    animation:  typing-show .5s;
}
@keyframes typing-show {
0% {
    opacity: 0
}

100% {
        opacity: 1;
}
}

@keyframes new-comment-show {
0% {
    transform: scale(.2)
}
80% {
    transform: scale(1.2);
}
100% {
    transform: scale(1);
}
}


@media screen and (max-width: 380px) {
    .aQYkKNI1jAr {
        padding-left: 0;
    }
}
